<!DOCTYPE html>
<html lang="en">
	 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>University of Eastern Philippines</title>

	<!--FAVICON-->
	<link rel="icon" href="assets/images/favicon.png">

	<!--Bootstrap 5 CDN Links-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	<!--swiper's css-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">

	<!--Custom File's Link-->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive-style.css">
</head>
<body>
  <!--Navbar section-->
<header class="header-wrapper">
  <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="#">
          <img src="assets/images/Logo.png" class="img-fluid" alt="Logo">
              <h1 class="m-0 text-uppercase">UEP</h1> 
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav menu-navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Index.cshtml">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Facilities.cshtml">The Facilities</a></li>
                <li><a class="dropdown-item" href="Staff.cshtml">The Staffs</a></li>
                <li><a class="dropdown-item" href="Review.cshtml">Reviews</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Facilities
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="White_beach.cshtml">UEP White Beach Resort</a></li>
                <li><a class="dropdown-item" href="Farmers.cshtml">Farmers Training Center</a></li>
                <li><a class="dropdown-item" href="Kapihan.cshtml">Kapihan</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Event.cshtml">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Gallery.cshtml">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Contact.cshtml">Contact</a>
            </li>
            <li class="nav-item mt-3 mt-lg-0">
              <a class="main-btn" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(assets/images/image1.jpg);">
  <div class="container-fluid page-header-inner py-5">
      <div class="container text-center pb-5">
          <h1 class="display-3 mb-3">List of Facilities</h1>
      </div>
  </div>
</div>
<!-- Page Header End -->

<!--footer section-->
<section id="contact" class="footer-wrapper mt-3 mt-md-0 pb-0">
  <div class="container pb-3">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <h5>White Beach Resort location</h5>
              <p class="ps-0">bfgjuubfnbfnht9hsdkblokrjr0hubbnr
                  ggfhj8b8bnnbm
                  vbfgb</p>
              <div class="contact-info">
                  <ul class="list-unstyled">
                      <li><a href="#"><i class="fa fa-home me-3">No. 96, South City, London</i></a></li>
                      <li><a href="#"><i class="fa fa-phone me-3">+1 222 3333</i></a></li>
                      <li><a href="#"><i class="fa fa-envelope me-3">info@example.com</i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <h5>Farmers Training Center location</h5>
              <p class="ps-0">bfgjuubfnbfnht9hsdkblokrjr0hubbnr
                  ggfhj8b8bnnbm
                  vbfgb</p>
              <div class="contact-info">
                  <ul class="list-unstyled">
                      <li><a href="#"><i class="fa fa-home me-3">No. 96, South City, London</i></a></li>
                      <li><a href="#"><i class="fa fa-phone me-3">+1 222 3333</i></a></li>
                      <li><a href="#"><i class="fa fa-envelope me-3">info@example.com</i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <h5>Kapihan location</h5>
              <p class="ps-0">bfgjuubfnbfnht9hsdkblokrjr0hubbnr
                  ggfhj8b8bnnbm
                  vbfgb</p>
              <div class="contact-info">
                  <ul class="list-unstyled">
                      <li><a href="#"><i class="fa fa-home me-3">No. 96, South City, London</i></a></li>
                      <li><a href="#"><i class="fa fa-phone me-3">+1 222 3333</i></a></li>
                      <li><a href="#"><i class="fa fa-envelope me-3">info@example.com</i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <h5>Stay Connected</h5>
              <ul class="social-network d-flex align-items-center p-0">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="container-fluid copyright-section">
      <p>Copyright <a href="#">JESSICA</a> All Rights Reserved</p>
  </div>
</section>


<!--swiper js-->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<!--custom js link-->
<script src="assets/js/main.js"></script>
</body>
</html>